body  {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
header {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(0, 255, 0);
}
h1{
    color: aliceblue;
}
.calculator {
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    width: 900px;
    height: 600px;
    border: solid;
    border-width: 0px;
    border-color: white;
}

.buttons {
    background-color: rgb(60, 60, 60);
    float: left;
    border: solid;
    border-width: 0px;
    border-color: rgb(53, 53, 53);
}
.sideBtn {
    color: rgb(0, 255, 0);
    width: 119px;
}
button {
    border: unset;
    border-right: solid;
    border-right-width: 0px;
    border-right-color: white;
    margin-bottom: 1px;
    margin-left: 1px;
    float: left;
    font-size: 25px;
    color: white;
    background-color: black;
    height: 70px;
    width: 120px;
}
button:hover {
    color: rgb(0, 255, 0);
    background-color: black;
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 255, 0);
}
.operations {
    background-color: rgb(60, 60, 60);
}
.result {
    padding: auto;
    margin-top: 30px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(60, 60, 60);
    width: auto;
    height: 150px;
    color: white;
    background-color: black;
}
#run {
    background-color: black;
    height: 70px;
    width: 240px;
    color: rgb(0, 255, 0);
}
#result2 {
    color: rgb(0, 255, 0);
}
#historyDiv {
    float: left;
    width: 394px;
    height: 333px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(53, 53, 53);
}
