body  {
    color: white;
    background-color: black;
    text-align: center;
    font-family: monospace;
}
header {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(0, 255, 0);
}
footer {
    border-top: solid;
    border-top-width: 1px;
    border-top-color: rgb(0, 255, 0);
    margin-top: 20px;
    height: 50px;
    padding-top: 25px;
}
h1{
    color: aliceblue;
}
.calculator {
    text-align: center;
    background-color: rgb(20, 20, 20);
    margin: auto;
    margin-top: 310px;
    padding: 30px;
    width: 605px;
    height: 600px;
    border: solid;
    border-width: 1px;
    border-color: rgb(53, 53, 53);
}
.buttons {
    background-color: rgb(20, 20, 20);
    width: 363px;
    height: 284px;
    margin: auto;
    float: left;
}
.operators {
    margin: auto;
    width: 120px;
    height: 284px;
    background-color: rgb(20, 20, 20);
    float: left;
}
.commands {
    margin: auto;
    width: 120px;
    height: 284px;
    float: left;
}
.sideBtn {
    color: white;
    width: 120px;
}
button {
    border: unset;
    border-right: solid;
    border-right-width: 0px;
    border-right-color: white;
    margin-bottom: 1px;
    margin-left: 1px;
    float: left;
    font-size: 25px;
    color: white;
    background-color: black;
    height: 70px;
    width: 120px;
}
button:hover {
    color: rgb(0, 255, 0);
    background-color: black;
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 255, 0);
}
.operations {
    color: rgb(0, 255, 0);
    background-color: rgb(20, 20, 20);
    border: solid;
    border-width: 1px;
    border-color: rgb(20, 20, 20);
}
.result {
    padding: auto;
    margin-top: 30px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(20, 20, 20);
    width: auto;
    height: 150px;
    color: white;
    background-color: rgb(20, 20, 20);
}
#run {
    background-color: black;
    height: 141px;
    width: 120px;
    color: white;
}
#result2 {
    color: rgb(0, 255, 0);
}
#historyDiv {
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-color: rgb(53, 53, 53);
}
#one, #two, #three, #four, #five, #six, #seven, #eigh, #nine, #ten{
    height: 300px;
    width: 9%;
    border: solid;
    border-width: 0px;
    border-color: white;
    float: left;
}

